<div ng-controller="Carousel" id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="{{$index}}" ng-class="{active:!$index}"
            ng-repeat="slide in slides"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item" ng-class="{active:!$index}" ng-repeat="slide in slides">
            <img src="{{slide.url}}" alt="Image">
            <div class="carousel-caption">
                <h3>{{slide.header}}</h3>
                <p nf-if="slide.text != null">{{slide.text}}</p>
            </div>
        </div>
    </div>
</div>