<h3 class="notification-container-header">Reset Password</h3>
<div class="reset-password-form">
    <form class="form-reset-password" role="form" name="resetPasswordForm">
        <div class="form-group form-group-sm"
             ng-class="{ 'has-error has-feedback': resetPasswordForm.newPassword.$touched && resetPasswordForm.newPassword.$invalid,
              'has-success has-feedback' : resetPasswordForm.newPassword.$touched && resetPasswordForm.newPassword.$valid}">
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" class="form-control" placeholder="Enter new password" required
                   ng-model="resetPasswordWrapper.newPassword" maxlength="128" minlength="6" name="newPassword">
            <span ng-class="{ 'glyphicon glyphicon-remove form-control-feedback': resetPasswordForm.newPassword.$touched &&
            resetPasswordForm.newPassword.$invalid, 'glyphicon glyphicon-ok form-control-feedback' :
            resetPasswordForm.newPassword.$touched && resetPasswordForm.newPassword.$valid}"></span>
        </div>
        <div class="form-group form-group-sm"
             ng-class="{ 'has-error has-feedback': resetPasswordForm.repeatNewPassword.$touched && resetPasswordForm.repeatNewPassword.$invalid || resetPasswordForm.repeatNewPassword.$touched && resetPasswordWrapper.newPassword !== repeatNewPassword,
              'has-success has-feedback' : resetPasswordForm.repeatNewPassword.$touched && resetPasswordForm.repeatNewPassword.$valid && resetPasswordWrapper.newPassword === repeatNewPassword}">
            <label for="repeatNewPassword">Repeat New Password:</label>
            <input type="password" id="repeatNewPassword" class="form-control" placeholder="Repeat new password" required
                   ng-model="repeatNewPassword" maxlength="128" minlength="6" name="repeatNewPassword">
            <span ng-class="{ 'glyphicon glyphicon-remove form-control-feedback': resetPasswordForm.repeatNewPassword.$touched &&
            resetPasswordForm.repeatNewPassword.$invalid || resetPasswordForm.repeatNewPassword.$touched && resetPasswordWrapper.newPassword !== repeatNewPassword, 'glyphicon glyphicon-ok form-control-feedback' :
            resetPasswordForm.repeatNewPassword.$touched && resetPasswordForm.repeatNewPassword.$valid && resetPasswordWrapper.newPassword === repeatNewPassword}"></span>
        </div>
        <p class="input-form-error" ng-if="resetPasswordForm.newPassword.$touched && resetPasswordForm.repeatNewPassword.$touched && resetPasswordWrapper.newPassword !== repeatNewPassword">Passwords don't match</p>
    </form>
</div>
<div>
    <button class="btn btn-primary" type="button"
            ng-disabled="(resetPasswordForm.$invalid && (resetPasswordForm.currentPassword.$dirty ||
            resetPasswordForm.newPassword.$dirty || resetPasswordForm.repeatNewPassword.$dirty)) || changePasswordSubmitDisable || resetPasswordWrapper.newPassword !== repeatNewPassword"
            ng-click="resetPasswordForm.$valid && resetPasswordWrapper.newPassword === repeatNewPassword && ok()">Reset Password</button>
</div>