 <!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="ui.bootstrap.demo">
  <style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>

<div ng-controller="DropdownCtrl" class="row">
	
	<div class="col-md-4">
    <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-primary" ng-click="getDataTable(activeItem.action)" ng-init="getDataTable(activeItem.action)")>{{activeItem.title}}</button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Split button</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
		<li role="menuitem" ng-repeat="item in dropdownItems | filter: {isMain : 'true'} | filter: {action: '!'+activeItem.action}"><a ng-click="getDataTable(item.action)">{{item.title}}</a></li>
        <li class="divider"></li>
        <li role="menuitem" ng-repeat="item in dropdownItems | filter: {isMain : 'false'} | filter: {action: '!'+activeItem.action}"><a ng-click="selector(item.action)">{{item.title}}</a></li>
      </ul>
    </div>
	</div>
	
	<div ng-show="activeItem.datePicker" class="col-md-8">
    <div class="row">
      <div class="col-md-5">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="setDt1(dt1)"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()" ><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

      <div class="col-md-5">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions2" ng-required="true" close-text="Close" ng-change="setDt2(dt2)"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
	  <div class="col-md-2">
		<button type="button" class="btn btn-primary" ng-click="getDataTable(activeItem.action)")>Get Data</button>
	  </div>
    </div>

</div>
  </body>
  
  
  <script>
angular.module('ui.bootstrap.demo', ['ngAnimate', 'ui.bootstrap']);
angular.module('ui.bootstrap.demo').controller('DropdownCtrl', function ($scope) {
	$scope.dt1 = null;
	$scope.dt2 = null;
	$scope.dropdownItems = [
	{action : "curentMonthAvg", title : "Current Month Average", isMain : true, datePicker : false}, 
	{action : "prevMonthAvg", title : "Previous Month Average", isMain : true, datePicker : false},
	{action : "prevThreeMonthAvg", title : "Previous Three Month Average", isMain : true, datePicker : false},
	{action : "customPeriodAvg", title : "Custom Periode Average", isMain : false, datePicker : true}];
	
	$scope.dropdownItemsCombo = [
	{action : "lastThreeMonthAvg", title : "Last 3 Month Average", isMain : true, datePicker : false}, 
	{action : "lastSixMonthAvg", title : "Last 6 Month Average", isMain : true, datePicker : false},
	{action : "lastYearAvg", title : "Last Year Average", isMain : true, datePicker : false},
	{action : "customPeriodAvg", title : "Custom Periode Average", isMain : false, datePicker : true}];
	
	$scope.dropdownItemsUser = [
	{action : "curentMonthAvg", title : "Current Month Average", isMain : true, datePicker : false}, 
	{action : "prevMonthAvg", title : "Previous Month Average", isMain : true, datePicker : false},
	{action : "prevThreeMonthAvg", title : "Previous Three Month Average", isMain : true, datePicker : false},
	{action : "prevThreeMonthTotal", title : "Previous Three Month Total", isMain : true, datePicker : false},
	{action : "customPeriodAvg", title : "Custom Periode Average", isMain : false, datePicker : true},
	{action : "customPeriodTotal", title : "Custom Periode Total", isMain : false, datePicker : true}];
	
	$scope.dropdownItemsComboUser = [
	{action : "lastThreeMonth", title : "Last 3 Month", isMain : true, datePicker : false}, 
	{action : "lastSixMonth", title : "Last 6 Month", isMain : true, datePicker : false},
	{action : "lastYear", title : "Last Year", isMain : true, datePicker : false},
	{action : "customPeriod", title : "Custom Periode", isMain : false, datePicker : true}];
	
	
	
	console.log(angular.toJson($scope.dropdownItems));
	
	$scope.activeItem = $scope.dropdownItems[0];
	
	$scope.getDataTable = function(action){
		$scope.selector(action);
		console.log(action + " START: " + $scope.dt1 + " STOP: " + $scope.dt2);
	}
	
	$scope.selector = function(action){
		$scope.activeItem = $scope.dropdownItems[$scope.dropdownItems.map(function (itm) {return itm.action;}).indexOf(action)];
		if($scope.activeItem.datePicker){
				$scope.dt1 = new Date();
				$scope.dt2 = new Date();
		}else if(!$scope.activeItem.datePicker){
			$scope.dt1 = null;
			$scope.dt2 = null;
		}
		}

  $scope.dateOptions = {
    formatYear: 'yy',
    minDate: new Date(2000, 1, 1),
    maxDate: new Date(),
    startingDay: 1
  };
  
    $scope.dateOptions2 = {
    formatYear: 'yy',
    minDate: $scope.dt1,
    maxDate: new Date(),
    startingDay: 1
  };

  $scope.setDt1 = function(dt1){
	$scope.dt1 = $scope.checkDateInput(dt1);
	$scope.setMaxDate();
	$scope.dateOptions2.minDate = $scope.dt1;
  }
  
    $scope.setDt2 = function(dt2){
	$scope.dt2 = $scope.checkDateInput(dt2);
	$scope.setMaxDate();
	$scope.dateOptions.maxDate = $scope.dt2;
  }
  
  $scope.setMaxDate = function(){
  	if($scope.dt1 > $scope.dt2){
		$scope.dt2 = $scope.dt1;
		$scope.dateOptions.maxDate = $scope.dt2;
		$scope.dateOptions2.maxDate = $scope.dt2;
  }
  }
  
  $scope.checkDateInput = function(dt){
  	if(dt > new Date()){
		dt = new Date();
	}
	return dt;
	}
  
  $scope.open1 = function() {
    $scope.popup1.opened = true;
  };

  $scope.open2 = function() {
    $scope.popup2.opened = true;
  };
  
    $scope.popup1 = {
    opened: false
  };

  $scope.popup2 = {
    opened: false
  };

  $scope.formats = ['dd/MM/yyyy', 'dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
  $scope.format = $scope.formats[0];

});
  </script>
</html>	