<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="Budgeez expenses tracker" />
    <meta name="keywords" content="expense, expense tracker, report, tracker, online, expense report, expenses, expense reimbursement, online expense reporting" />
    <meta name="author" content="Konstantin Shenderov">
    <title>Budgeez Expenses Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link href="css/framework.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
</head>

<body ng-app="Budgeez" ng-controller="AuthorizationController">

<div ng-include="'pages/framework/common/navbar.html'"></div>
<div ng-if="showCarousel" ng-include="'pages/framework/ad/full-width-carousel.html'"></div>
<div class="container-fluid" id="main-tab-container" ng-controller="RecordsController">
    <div class="row" id="main-tab-container-row">
        <div class="col-md-8 main-container-left-block" id="main-container-left-block">
            <div ui-view></div>
        </div>
        <div class="col-md-4 main-container-right-block" id="main-container-right-block">
            <div ng-if="!isAutorized" ng-include="'pages/framework/auth/login-signup-module.html'"></div>
            <div ng-if="isAutorized" ng-include="'pages/framework/statistics/add-record-block.html'"></div>
        </div>
    </div>
</div>
<div ng-include="'pages/framework/common/footer.html'"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.14/angular-filter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-dialog-service/5.3.0/dialogs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.js"></script>
<script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="js/global-settings.js"></script>
<script src="js/framework.js"></script>
<script src="js/alerts-service.js"></script>
<script src="js/authorization-controller.js"></script>
<script src="js/main-controller.js"></script>
<script src="js/user-home-controller.js"></script>
<script src="js/settings-controller.js"></script>
<script src="js/records-controller.js"></script>
<script src="js/record-list-controller.js"></script>
<script src="js/update-record-controller.js"></script>
<script src="js/connector.js"></script>
<script src="js/charts-controller.js"></script>
<script src="js/change-email-controller.js"></script>
<script src="js/carousel.js"></script>
<script src="js/confirm-controller.js"></script>
<script src="js/verify-email-controller.js"></script>
<script src="js/change-password-controller.js"></script>
<script src="js/delete-account-controller.js"></script>
<script src="js/forgot-password-controller.js"></script>
<script src="js/reset-password-controller.js"></script>

</body>
</html>
