<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Change Password</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-change-password" role="form" name="changePasswordForm">
        <div class="form-group form-group-sm"
             ng-class="{ 'has-error has-feedback': changePasswordForm.currentPassword.$touched && changePasswordForm.currentPassword.$invalid,
              'has-success has-feedback' : changePasswordForm.currentPassword.$touched && changePasswordForm.currentPassword.$valid}">
            <label for="currentPassword">Current Password:</label>
            <input type="password" id="currentPassword" class="form-control" placeholder="Enter current password" required
                   ng-model="changePasswordWrapper.currentPassword" maxlength="128" minlength="6" name="currentPassword">
            <span ng-class="{ 'glyphicon glyphicon-remove form-control-feedback': changePasswordForm.currentPassword.$touched &&
            changePasswordForm.currentPassword.$invalid, 'glyphicon glyphicon-ok form-control-feedback' :
            changePasswordForm.currentPassword.$touched && changePasswordForm.currentPassword.$valid}"></span>
        </div>
        <div class="form-group form-group-sm"
             ng-class="{ 'has-error has-feedback': changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid,
              'has-success has-feedback' : changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$valid}">
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" class="form-control" placeholder="Enter new password" required
                   ng-model="changePasswordWrapper.newPassword" maxlength="128" minlength="6" name="newPassword">
            <span ng-class="{ 'glyphicon glyphicon-remove form-control-feedback': changePasswordForm.newPassword.$touched &&
            changePasswordForm.newPassword.$invalid, 'glyphicon glyphicon-ok form-control-feedback' :
            changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$valid}"></span>
        </div>
        <div class="form-group form-group-sm"
             ng-class="{ 'has-error has-feedback': changePasswordForm.repeatNewPassword.$touched && changePasswordForm.repeatNewPassword.$invalid || changePasswordForm.repeatNewPassword.$touched && changePasswordWrapper.newPassword !== repeatNewPassword,
              'has-success has-feedback' : changePasswordForm.repeatNewPassword.$touched && changePasswordForm.repeatNewPassword.$valid && changePasswordWrapper.newPassword === repeatNewPassword}">
            <label for="repeatNewPassword">Repeat New Password:</label>
            <input type="password" id="repeatNewPassword" class="form-control" placeholder="Repeat new password" required
                   ng-model="repeatNewPassword" maxlength="128" minlength="6" name="repeatNewPassword">
            <span ng-class="{ 'glyphicon glyphicon-remove form-control-feedback': changePasswordForm.repeatNewPassword.$touched &&
            changePasswordForm.repeatNewPassword.$invalid || changePasswordForm.repeatNewPassword.$touched && changePasswordWrapper.newPassword !== repeatNewPassword, 'glyphicon glyphicon-ok form-control-feedback' :
            changePasswordForm.repeatNewPassword.$touched && changePasswordForm.repeatNewPassword.$valid && changePasswordWrapper.newPassword === repeatNewPassword}"></span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button"
            ng-disabled="(changePasswordForm.$invalid && (changePasswordForm.currentPassword.$dirty ||
            changePasswordForm.newPassword.$dirty || changePasswordForm.repeatNewPassword.$dirty)) || changePasswordSubmitDisable || changePasswordWrapper.newPassword !== repeatNewPassword"
            ng-click="changePasswordForm.$valid && changePasswordWrapper.newPassword === repeatNewPassword && ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>