/* section visibility */
body > section:not(.active) { display:none; }

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    padding-top: 50px;
}

html {
    position: relative;
    min-height: 100%;
    min-width: 400px;
}

/* Navbar */

/* Main */
.main-container-left-block {
    padding-top: 1vh;
}

.chart{
    height: 60vh;
}

.date-picker{
    margin: 0 5px;
}

.selector-container{
    margin-top: 5px;
    margin-bottom: 5px;
}

#charts-selector-dropdown-block {
    padding-bottom: 10px;
}

.charts-selector-confirmation-button {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.user-main-container {
    /*margin-top: 15px;*/
}

/* Main login and add record */
.main-container-right-block{
    margin-top: 10vh;
}

.login-block, .add-record-module{
    padding: 20px 0;
}

.login-signup-tabs-heading {
    background-color: #23c2e1;
}

.login-signup-tabs-heading > a {
    color: #ffffff;
}

.nav-tabs.nav-justified > li > a {
    border: none !important;
    border-radius: 0 0 0 0 !important;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border: none !important;
    border-radius: 0 0 0 0 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
}

.nav-tabs {
    border: none;
    margin-bottom: 10px;
}

.nav-tabs > li > a {
    border: none;
    border-radius: 0 0 0 0 !important;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #2f2f2f;
    color: #ffffff;
}


/* Testing */
.pink{
background-color: #e4b9b9;
}

.red-border{
    border: solid 2px red;
}

.green-border{
    border: solid 2px green;
}

.blue{
    background-color: #269abc;
    border: solid 2px red;
}

.green{
    background-color: greenyellow;
}

.prototype{
	background-color: #ffccff;
	height: 100%;
    width: 100%;
	z-index: 99999;
}

.records-table td {
    white-space: nowrap;
}

.well-sm{
    margin-bottom: 5px;
    padding: 5px;
}

.alert {
    padding: 5px;
    margin-bottom: 5px;
}

 a, button, input{
    outline: none !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:none !important;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table td.text {
    max-width: 150px;
}
.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.uib-daypicker{
     outline: none !important;
 }

@media only screen
and (max-device-width : 992px)
and (-webkit-min-device-pixel-ratio: 1){
    [class*="chart"] {
        height: 50vh;
        margin-top: 1vh;
    }
    [class*="main-container-left-block"] {
        margin-bottom: 2vh;
        padding-top: 2vh;
    }
}