/* section visibility */
body > section:not(.active) { display:none; }

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    padding-top: 50px;

}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #2f2f2f;
    color: #ffffff;
}

.login-block{
    padding: 20%;
}

.chart{
    height: 100%;
    min-height: 500px;
    width: 100%;
}

.chart-block{

}

.pink{
background-color: #e4b9b9;
}

.prototype{
	background-color: #ffccff;
	height: 100%;
    width: 100%;
	z-index: 99999;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="chart"] {
        width: 100vw;
        height: 50vh;
    }
}