<div class="login-block">
        <h2 class="form-signin-heading text-center">Please Sign Up</h2>
		<form class="form-signin" role="form">
		<p class="bg-danger" ng-show="alertError" ng-init="alertError=false"><strong>Email already registered</strong></p>
		<p class="bg-success text-center" ng-show="alertSuccess" ng-init="alertSuccess=false">Sign Up Success</p>
		<div class="form-group">
		<label for="inputName" autocomplete="off">Name:</label>
        <input type="text" id="inputName" class="form-control has-error" placeholder="Enter name" required ng-model="userDetails.name" autofocus>
		</div>
		<div class="form-group">
        <label for="inputEmail" autocomplete="off">Email:</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Enter email" required ng-model="userDetails.email">
		</div>
		<div class="form-group">
        <label for="inputPassword" autocomplete="off">Password:</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Enter password" required ng-model="userDetails.password">
		</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signup(userDetails)">Sign in</button>
    </form>
</div>