<div class="login-block">
    <h3 class="form-signin-heading text-center">Please Sign Up</h3>
    <form class="form-signin" role="form" name="signUp" novalidate>
        <div uib-alert ng-repeat="alert in authAddRecordBlockAlerts" ng-class="'alert-' + (alert.type || 'warning')"
             close="closeAuthAddRecordBlockAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}
        </div>
        <div class="form-group"
             ng-class="{ 'has-error has-feedback': signUp.inputName.$touched && signUp.inputName.$invalid, 'has-success has-feedback' : signUp.inputName.$touched && signUp.inputName.$valid}">
            <label for="inputName" autocomplete="off">Name:</label>
            <input type="text" id="inputName" class="form-control has-error" placeholder="Enter name" required
                   ng-model="userDetails.name" maxlength="70" minlength="2" name="inputName">
            <span ng-class="{ 'glyphicon glyphicon-remove form-control-feedback': signUp.inputName.$touched && signUp.inputName.$invalid, 'glyphicon glyphicon-ok form-control-feedback' : signUp.inputName.$touched && signUp.inputName.$valid}"></span>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error has-feedback': signUp.inputEmail.$touched && signUp.inputEmail.$invalid || !emailAvailable, 'has-success has-feedback' : signUp.inputEmail.$touched && signUp.inputEmail.$valid && emailAvailable}">
            <label for="inputEmail" autocomplete="off">Email:</label>
            <input type="email" id="inputEmail" class="form-control invalid" placeholder="Enter email" required
                   ng-model="userDetails.email" maxlength="254" minlength="4" name="inputEmail" ng-change="signUp.inputEmail.$valid && checkEmail(userDetails.email)">
            <span ng-class="{ 'glyphicon glyphicon-remove form-control-feedback': signUp.inputEmail.$touched && signUp.inputEmail.$invalid || !emailAvailable, 'glyphicon glyphicon-ok form-control-feedback' : signUp.inputEmail.$touched && signUp.inputEmail.$valid && emailAvailable}"></span>
            <p class="input-form-error" ng-if="signUp.inputEmail.$touched && signUp.inputEmail.$valid && !emailAvailable">Email already registered</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error has-feedback': signUp.inputPassword.$touched && signUp.inputPassword.$invalid, 'has-success has-feedback' : signUp.inputPassword.$touched && signUp.inputPassword.$valid}">
            <label for="inputPassword" autocomplete="off">Password:</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Enter password" required
                   ng-model="userDetails.password" maxlength="128" minlength="6" name="inputPassword">
            <span ng-class="{ 'glyphicon glyphicon-remove form-control-feedback': signUp.inputPassword.$touched && signUp.inputPassword.$invalid, 'glyphicon glyphicon-ok form-control-feedback' : signUp.inputPassword.$touched && signUp.inputPassword.$valid}"></span>
        </div>
        <button class="btn btn-lg btn-default btn-block" type="submit" ng-click="signUp.$valid && signup(userDetails)"
                ng-disabled="(signUp.$invalid && (signUp.inputName.$touched || signUp.inputEmail.$touched || signUp.inputPassword.$touched)) || signUpSubmitButtomDisabled || !emailAvailable">
            GET STARTED
        </button>
    </form>
</div>