<div uib-alert ng-repeat="alert in $parent.authAddRecordBlockAlerts" ng-class="'alert-' + (alert.type || 'warning')"
     close="$parent.closeAuthAddRecordBlockAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}
</div>
<form class="form-add-record" name="addRecordFormHolder.addEditRecordForm" role="form" ng-model="$parent.record">
    <p class="bg-danger" ng-show="alertError" ng-init="alertError=false"><strong>Custom category exist</strong>
    </p>
    <div class="form-group"
         ng-class="{'has-error': addRecordFormHolder.addEditRecordForm.inputAmount.$touched && addRecordFormHolder.addEditRecordForm.inputAmount.$invalid}">
        <label for="inputAmount">Amount:</label>
        <input type="number" id="inputAmount" class="form-control" placeholder="Enter amount" required
               ng-model="$parent.record.amount" name="inputAmount" max="9223372036854775807" min="-9223372036854775808">
    </div>
    <div class="form-group"
         ng-class="{'has-error': addRecordFormHolder.addEditRecordForm.inputCategory.$touched && addRecordFormHolder.addEditRecordForm.inputCategory.$invalid}">
        <label for="inputCategory">Category:</label>
        <select class="form-control" id="inputCategory"
                ng-options="category as category.name for category in $parent.categoriesList track by category.categoryId"
                required ng-model="$parent.record.category" name="inputCategory"></select>
    </div>
    <div class="form-group"
         ng-class="{'has-error': addRecordFormHolder.addEditRecordForm.inputNewCategory.$touched && addRecordFormHolder.addEditRecordForm.inputNewCategory.$invalid}"
         ng-show="$parent.record.category.type == 'ADD_NEW'">
        <label for="inputNewCategory">New Category Name:</label>
        <input type="text" id="inputNewCategory" class="form-control" placeholder="Enter Category Name"
               ng-model="$parent.categoryName" maxlength="30" minlength="1" name="inputNewCategory"
               ng-required="$parent.record.category.type == 'ADD_NEW'">
    </div>
    <div class="form-group">
        <label for="inputComment">Comment:</label>
        <input type="text" id="inputComment" class="form-control" ng-required="false" maxlength="100" laceholder="Enter comment (optional)"
               ng-model="$parent.record.comment" name="inputComment">
    </div>
    <div class="form-group"
         ng-class="{'has-error': addRecordFormHolder.addEditRecordForm.inputRecordDate.$touched && addRecordFormHolder.addEditRecordForm.inputRecordDate.$invalid}">
        <label for="records-addRecord-datePicker-recordDate-input">Record Date:</label>
        <input ng-click="$parent.openRecordDate()" type="datetime" class="form-control" uib-datepicker-popup="{{format}}"
               ng-model="$parent.recordDate" is-open="$parent.popupRecordDate.opened"
               datepicker-options="$parent.dateOptionsRecord" ng-required="true" close-text="Close"
               ng-change="$parent.setRecordDate(recordDate)" id="records-addRecord-datePicker-recordDate-input"
               name="inputRecordDate"/>
    </div>
</form>