<div ng-controller="ChartsController" id="charts-view-module">
    <div id="charts-selector-block">
        <div id="charts-selector-dropdown-block">
            <div class="btn-group" uib-dropdown id="charts-selector-dropdown">
                <button id="charts-selector-dropdown-split-button" type="button" class="btn btn-default"
                        ng-click="getDataAndDrawChart(activeChartSelection)">{{activeChartSelection.title}}
                </button>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                    aria-labelledby="charts-selector-dropdown-split-button" id="charts-selector-dropdown-list">
                    <li role="menuitem"
                        ng-repeat="chartSelection in chartSelectionsList | filter: {datePicker : 'false'} | filter: {selectionId: '!'+activeChartSelection.selectionId}:true">
                        <a ng-click="getDataAndDrawChart(chartSelection)">{{chartSelection.title}}</a></li>
                    <li ng-if="selectionDropdownDivider" class="divider"></li>
                    <li role="menuitem"
                        ng-repeat="chartSelection in chartSelectionsList | filter: {datePicker : 'true'} | filter: {selectionId: '!'+activeChartSelection.selectionId}:true">
                        <a ng-click="setActiveChartSelection(chartSelection)">{{chartSelection.title}}</a></li>
                </ul>
            </div>
        </div>
        <div ng-if="activeChartSelection.datePicker" ng-include="'pages/framework/common/date-picker.html'" id="datePicker-block"></div>
    </div>
    <div uib-alert ng-repeat="alert in mainWindowAlerts" ng-class="'alert-' + (alert.type || 'warning')"
         close="closeRecordListAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}
    </div>
    <div id="chart-canvas" class="chart"></div>
</div>