<!--<div ng-controller="RecordListController" id="records-list-module">-->
    <div id="records-list-module">
        <div ng-include="'pages/framework/common/date-picker.html'" id="datePicker-block"></div>
        <div uib-alert ng-repeat="alert in mainWindowAlerts" ng-class="'alert-' + (alert.type || 'warning')"
             close="closeMainWindowAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}
        </div>
        <div ng-show="showLimitWell.show" class="well well-sm">{{showLimitWell.message}}</div>
        <div ng-show="!showTable" class="well well-sm">No records found for requested dates.</div>
        <table ng-show="showTable" class="table table-hover table-striped table-bordered table-condensed records-table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Purpose</th>
                <th>Amount</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="r in recordsList" uib-tooltip="Comment: {{r.comment}}" tooltip-enable="r.comment!=null"
                tooltip-append-to-body="true">
                <td><span>{{r.date | date: format}}</span></td>
                <td class="text"><span>{{r.purpose.name}}</span></td>
                <td><span>{{r.amount | number: 2}}</span></td>
                <td>
                    <button type="button" class="btn btn-info btn-xs glyphicon glyphicon-pencil"
                            ng-click="openUpdateModal(r, $index)"></button>
                    <button type="button" class="btn btn-danger btn-xs glyphicon glyphicon-trash"
                            ng-click="deleteRecord(r.recordId, $index)"></button>
                </td>
            </tr>
            </tbody>
        </table>
</div>
