<div ng-controller="RecordListController" id="records-list-module">
    <div id="records-list-period-selector-container" class="selector-container">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="no-margin" for="records-list-datePicker-startDate-input">Period From:</label>
                <p class="input-group date-picker">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startDate"
                           is-open="popupStart.opened" datepicker-options="dateOptionsStart" ng-required="true"
                           close-text="Close" ng-change="setStartDate(startDate)"
                           id="records-list-datePicker-startDate-input"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openStart()"
                    id="charts-selector-datePicker-startDate-openButton"><i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
                </p>
            </div>
            <div class="form-group">
                <label class="no-margin" for="records-list-datePicker-endDate-input">To:</label>
                <p class="input-group date-picker">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="endDate"
                           is-open="popupEnd.opened" datepicker-options="dateOptionsEnd" ng-required="true"
                           close-text="Close" ng-change="setEndDate(endDate)"
                           id="records-list-datePicker-endDate-input"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openEnd()"
                    id="charts-selector-datePicker-endDate-openButton"><i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
                </p>
            </div>
            <div class="form-group date-picker">
                <button type="submit" class="btn btn-default"
                        ng-click="getRecordsList(startDate.getTime(), endDate.getTime())">Search
                </button>
            </div>
        </form>
    </div>
    <div id="records-list-table-container">
        <div uib-alert ng-repeat="alert in mainWindowAlerts" ng-class="'alert-' + (alert.type || 'warning')"
             close="closeMainWindowAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}
        </div>
        <div ng-show="showLimitWell.show" class="well well-sm">{{showLimitWell.message}}</div>
        <div ng-show="!showTable" class="well well-sm">No records found for requested dates.</div>
        <table ng-show="showTable" class="table table-hover table-striped table-bordered table-condensed records-table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Purpose</th>
                <th>Amount</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="r in recordsList" uib-tooltip="Comment: {{r.comment}}" tooltip-enable="r.comment!=null"
                tooltip-append-to-body="true">
                <td><span>{{r.date | date: format}}</span></td>
                <td class="text"><span>{{r.purpose.name}}</span></td>
                <td><span>{{r.amount | number: 2}}</span></td>
                <td>
                    <button type="button" class="btn btn-info btn-xs glyphicon glyphicon-pencil"
                            ng-click="openUpdateModal(r, $index)"></button>
                    <button type="button" class="btn btn-danger btn-xs glyphicon glyphicon-trash"
                            ng-click="deleteRecord(r.recordId, $index)"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

